.login-container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
}

.login-card {
	width: 100%;
	max-width: 400px;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem;
	border-radius: 15px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	background: white;
}

.qr-code-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.qr-code-container img {
	width: 90%;
	height: auto;
	max-width: 100%;
	object-fit: contain;
}

@media (max-width: 768px) {
	.login-card {
		max-width: 90%;
		height: auto;
		padding: 2rem;
	}
}

.error {
	font-size: 24px;
	margin-bottom: 20px;
	color: red;
	font-weight: bold;
	justify-content: center;
	align-items: center;
}
