.doto {
	font-family: "Doto", serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-variation-settings: "ROND" 100;
}

.pixelify-sans {
	font-family: "Pixelify Sans", sans-serif !important;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

.mat-mdc-raised-button,
.mat-mdc-raised-button .mdc-button__ripple {
	border-radius: 4px !important;
}
