.background {
	background: rgb(17, 5, 96);
	background: linear-gradient(
		121deg,
		rgba(17, 5, 96, 1) 0%,
		rgba(12, 12, 128, 1) 17%,
		rgba(7, 14, 136, 1) 27%,
		rgba(1, 197, 245, 1) 91%,
		rgba(0, 212, 255, 1) 100%
	);
	background-repeat: repeat;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;

	& .dots {
		background-color: #9d9b91;
		height: 100%;
		width: 100%;

		opacity: 0.35;
		background-image: radial-gradient(#d5d2c1 1.75px, #9d9b91 1.75px);
		background-size: 12vh 12vh;
	}
}
